{{!-- Trip info--}}
<div class='top'>
    <h6>SANRAL</h6>
    <h4>TRIP 1</h4>
    <div class="row">
    <div class="col"> <h5><i class="fas fa-map-marker-alt"></i> 15 Malborogh Drive, Sandton</h5></div>
   
   <div class="col"><h5><i class="fas fa-clock"></i> Current Trip Duration 10:00am - 5:30pm</h5></div>
    
</div>
</div>

{{!-- map display --}}
 <div class='map' id='map'></div>

