{{!-- Trip info--}}
<div class='top'>
    <h6>SANRAL</h6>
    <h4>TRIP 1</h4>
    <div class="row">
        <div class="col">
            <p id="lat" name="lat"></p>
            <p id="long" name="long"></p>

        </div>
    </div>
    <div class="row">
        <div class="col"> <i class="fas fa-map-marker-alt"></i>
            <p class="address"></p>
        </div>

        <div class="col">
            <h5><i class="fas fa-clock"></i> Current Trip Duration 10:00am - 5:30pm</h5>
        </div>

    </div>
</div>

{{!-- map display --}}
<div class='map' id='map'></div>