{{!-- Trip info--}}
<div class='top'>
    
    <h6 class="text-secondary">SANRAL</h6>
    <h4>TRIP 1</h4>

    <div class="row">
        <div class="col">
            <p id="lat" name="lat"></p>
            <p id="long" name="long"></p>

        </div>
    </div>
    <div class="row">
        <div class="col"> <i class="fas fa-map-marker-alt"></i>
            <p class="address"></p>
        </div>

        <div class="col">
            <h5><i class="fas fa-clock"></i> Current Trip Duration 10:00am - 5:30pm</h5>
        </div>

    </div>
</div>
<div class="w-100"></div>


{{!-- map display --}}
<div class='map' id='map'></div>

<div class="row">
    <div class="col">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col" class="text-secondary">Gantry</th>
                    <th scope="col" class="text-secondary">Cost</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Barbet <br /><small id="emailHelp" class="form-text text-muted">Time 10:30am - 5:30pm</small></td>
                    <td>R 10</td>
                </tr>
                <tr>
                    <td>PIKOKO <br /><small id="emailHelp" class="form-text text-muted">Time 10:30am - 5:30pm</small></td>
                    <td>R 19</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col text-center">
        <h4>Current Cost</h4>
    </div>
</div>
<div class="row">
    <div class="col text-center text-danger w-100">
        <h4>R29</h4>
    </div>
</div>
<div class="row">
    <div class="col text-center">
        <h4>You could have saved 10% on other transport</h4>
    </div>
</div>
<div class="row">
    <div class="col">
        <a href="#" class="text-danger">Click here to find out more</a>
    </div>
</div>
<div class="row">
    <div class="col text-center">
        <a href="/summary" class="btn btn-danger summary">Summary</a>
    </div>
</div>
