
<h2 style="text-align:center;">Stats</h2>
<div class="progresser">
<img class="starLord" src="../css/keditbookmarks.png" alt="game location!">
<img class="starLord" src="../css/keditbookmarks.png" alt="game location!">
<img class="starLord" src="../css/keditbookmarks.png" alt="game location!">

<div class="wrapper">
    <div class="progress-bar">
        <span class="progress-bar-fill" style="width: 70%;"></span>
    </div>
</div>
<div class="lootBox">
    <img class="lootFill" src="../css/16.png" alt="loot box!">
</div>
</div>