<div class="container">
    <div class="row">
        <div class="col-12">
            <h3>Congratulation<br/>You have earned R160</h3>
        </div>
        <div class="col w-100">
            <p class="text-danger">Reedem your voucher at any participating <br/>bus stop or transport point of sale</p>
        </div>
    </div>
</div>