@media only screen and (max-width: 992px) {
    body {
        background-color: lightblue;
    }

    header {
        display: inline-block;
        padding-top: 5vh;
        text-align: center;
        z-index: 1;

    }

    .menu {
        position: relative;
        left: 7vw;
        top: -5.5vh;
        z-index: 1;
    }

    .star {
        height: 25px;
        width: 25px
    }

    .block {
        width: 80vw;
        height: 100vh;
        background-image: url('./photo.jpg');
        color: white;
    }


    .list-item {
        position: relative;
        display: inline-block;
        text-align: center;
        width: 100%;
        height: 6vh;
        padding-top: 2vh;
    }

    .box {
        position: absolute;
        z-index: 10;
        font-display: auto;
        font-style: normal;
        font-size: 20px;
        color: white;

        /* background-image: url('./photo.jpg');
        background-size: 100% 100%; */
    }

    .login {
        width: 100vw;
        text-align: center;
        margin-bottom: 2vh;
    }

    .login button {
        width: 50vw;
    }

    .map {
        margin: auto;
        width: 100vw;
        height: 50vh;
        z-index: 1;
    }

    header h1 {
        font-family: 'Montserrat';
        font-size: 24px;
        color: #FF473A;

    }

    .top {
        text-align: center;
    }


}

.summary {
    width: 60%;
}

.wrapper {
    width: 100%px;
}

.progress-bar {
    width: 100%;
    background-color: #e0e0e0;
    padding: 3px;
    border-radius: 3px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, .2);
}

.progress-bar-fill {
    display: block;
    height: 22px;
    background-color: #659cef;
    border-radius: 3px;

    transition: width 500ms ease-in-out;
}

.starLord {
    margin-top: 10px;
    margin-left: 70px;
    height: 25px;
    width: 25px
}

.lootBox {
    height: 170px;
    width: 200px;
    margin-left: 105px;
    margin-top: 10px;
    background-image: url('../css/abstract-burst-stock-illustration_k1120085.jpg');
    background-repeat: no-repeat;
    background-size: contain;
}

.lootFill {
    width: 140px;
    height: 100px;
    margin-top: 40px;
    margin-left: 10px;
}